[Unit]
Description=MoasdaWiki

[Service]
Type=forking
User=moasdawiki
TimeoutStartSec=0
ExecStart=/usr/lib/moasdawiki/moasdawiki.sh start
ExecStop=/usr/lib/moasdawiki/moasdawiki.sh stop
PIDFile=/var/run/moasdawiki.pid

[Install]
WantedBy=multi-user.target
