# IntelliJ
.idea/
out/
moasdawiki-server.iml

# Eclipse
.settings/
.classpath
.project

# Gradle
.gradle/
build/

# Git
local.properties

# Project
repository-test/
src/main/dist/**/*.cache
src/main/dist/**/*.config
src/test/resources/repository-without-cache/filelist.cache
TODO.md
